/* Colors */
$primary: #018a70;
$primary_hover: #21AC7E;
$secondary: #55efc4;

/* Backgrounds */
$site_background: rgb(253, 253, 253);
$after_background: rgb(247, 247, 247);
$pre_background: rgb(246, 246, 246);

$text: #333;
$light_text: rgb(150, 150, 150);
$med_text: rgb(130, 130, 130);
$headers: #333;
$headers_hover: #333;

//$code_text: #27AE60;
$code_text: #198c49;
$code_background: #F5F5F5;

/* tables */
$table_highlight: rgb(250, 250, 250);
$table_lighter: rgb(245, 245, 245);
$table_darker: rgb(240, 240, 240);
