main #landing {
  display: flex;
  height: 65vh;
  align-items: center;
  justify-content: center;

  div#landing-content {
    span h1 {
      max-width: 640px !important;
      text-align: left;
      font-family: $serif-stack;
      font-weight: bold;
      font-size: 2.4em;
    }
    h4 {
      text-align: left;
      font-family: $thin-stack;
      font-weight: 200;
      font-size: 30px;
      margin-bottom: 0px;
      align-self: flex-end;
      color: rgb(90, 90, 90);

      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    } 
  }
}
