/* Misc all */
  html { 
    font-family: $serif-stack;
    position: relative;
    min-height: 100%;
  }

  strong {
    font-weight: bold;
  }

  pre { background: $pre_background; }

  body {
    font-family: $serif-stack;
    font-weight: 300;
    min-height: 100%;
    position: relative;
    background-color: $site_background;
    counter-reset: item;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.2em;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  h1,h2,h3,h4,h5,h6,p { color: $text; }

  p { font-size: 17px; }

  a {
    color: $primary;
    &:hover {
      color: $primary_hover;
    }
  }

  #after-main {
    max-width: 680px;

    div h2 {
      font-weight: bold;
    }
  }

  #quotes {
    padding-bottom: 2em;
  }

  #plain h1 {
    font-weight: bold;
  }

  #taxonomy h2 {
    font-weight: bold;
  }
