// Mixins
@mixin horizontal-list($list-margin: 0 8px 0 0) {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    position: relative;
    margin: $list-margin;
    padding: 0;
    &:last-of-type {margin-right: 0;}
    a {
      display: inline-block;
      &:hover {
        cursor: pointer;
        cursor: hand;
      }
    }
  }
}

@mixin anchor-styling-with-hover {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@mixin grey-links($property) {
  a {
    color: $med_text;
    text-decoration: $property;

    &:hover {
      color: $primary;
    }
  }
}
