.footnotes {
  font-size: 85%;

  li {
    margin-bottom: 1rem;
  }
}

sup, sub {
  line-height: 0;
}

ul {
  margin-top: 0px;

  li ul {
    margin-top: 1rem;
    margin-bottom: 1rem;

    li {
      margin-bottom: 0px;
    }
  }
}

a.anchorjs-link:hover {
    text-decoration: none;
}

.after-content {
  background-color: $after_background;

  .container div {
    hr {
      border-bottom: 1px solid #eee;
    }
  }
}


.container.page {
  max-width: 680px;

  time {
    font-family: $serif-stack;
    margin-top: -1rem;
    font-size: 18px;
    display: block;
    color: $light_text;
    font-style: italic;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  code, ul li code {
    font-family: $monospace-stack;
    font-size: 14px;
    padding: 2px 4px;
    color: $code_text;
    background-color: $code_background;
    border-radius: 4px;
  }

  pre {
    padding: 0.5em 1em;
    font-size: 14px;
    background-color: $code_background !important;
    box-shadow: 0 4px 2px hsla(0, 0%, 0%, 0.2);

    span {
      background-color: $code_background !important;
    }
  }
  p {
    margin-bottom: 1rem;
  }

  p img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  }

  p, li, h6 {
    font-family: 'Libre Baskerville', 'Baskerville', serif;
    font-size: 16px;
    line-height: 1.6;
  }

  /* Post Headers */
  h1 {
    font-weight: bold;
    margin-bottom: 0px;
  }

  h6 {
    text-align: center;
    font-size: 14px;
    color: $med_text;
    margin-top: -1.5rem;
  }

  h1,h2,h3,h4,h5 {
    font-family: $serif-stack;
    font-weight: bold;
    margin-bottom: .5rem;
  }

  h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }

  table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 1rem auto;
    position: relative;

    * {
      position: relative;
    }

    td, th {
      padding: 6px 8px;
      padding-left: 15px;
    }

    thead tr {
      background-color: $primary;
      color: rgb(248, 248, 248);
      font-weight: bold;
      border-bottom: 1px solid #ccc;
    }

    tbody tr {
      &:nth-child(odd) {
        background-color: $table_lighter;
      }

      &:nth-child(even) {
        background-color: $table_darker;
      }


      &:last-child {
        td {
          border: none;
        }
      }

      &:hover {
        background-color: $table_highlight;
        cursor: pointer;
      }
    }
  }

  blockquote {
    border-left: 4px solid $primary;
    padding-left: 1rem;
    margin-left: 2rem;

    p {
      margin-bottom: 10px;
    }

    ul {
      &:last-child {
        margin-bottom: 2.5rem;
      }
    }
  }
}
