.container.projects {
  font-family: 'Courier New', 'Courier', monospace;

  line-height: 1.2;

  h1, h2, h3, h4 {
    margin-bottom: 0px;
    font-weight: bold;
  }

  p {
    margin-bottom: 2px;
  }

  ul {
    margin-bottom: 5px;
    li {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
}
