#quotes-list {
  h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 3px;
  }
  p {
    margin-bottom: 0px;
  }

  #quotes {
    .quote {
      margin-bottom: 5px;
      p {
        line-height: 1.2;
      }
      div {
        margin-left: 1em;
      }
    }
  }
}
