main .section {
  #section-title {
    text-decoration: underline;
    font-size: 2.5em;
  }
  h2, h3, h4 {
    font-weight: bold;
    a {
      color: $text;
      text-decoration: none;

      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }
  }
}

.section-post {
  h2 {
    font-size: 1.6em;
    margin-bottom: 0px;
  }
  
  p {
    margin-bottom: 1rem;
  }

  .post-title {
    text-decoration: none;
    a {
      text-decoration: none;
    }
  }

  span {
    font-size: 1.5em;
    display: block;
    text-align: center;
    color: $primary;
    padding-top: 0px;
    padding-bottom: .8em;
  }

  margin-bottom: 0px !important;
}
