{% extends "base.html" %}

{% block title %} Tags | {{ config.title }} {% endblock title %}

{% block main %}
  <div id="taxonomy" class="container">
    <h2 class="tags-header"> Tags </h2>
    <h3>{{ terms | length }} tags in total</h3>

    <div class="tags">
        {% for tag in terms %}
          <li><a href="{{ get_taxonomy_url(kind="tags", name=tag.name) }}">{{ tag.name }}</a> ({{ tag.pages | length }})</li>
        {% endfor %}
    </div>
  </div>
{% endblock main %}
