{% extends "base.html" %}

{% block title %} {{ term.name }} | {{ config.title }} {% endblock title %}

{% block main %}
  <div id="taxonomy" class="container">
    <h2 class="tag-header"> Posts tagged with {{ term.name | title }}</h2>

    <div class="tag-pages">
      {% for page in term.pages %}
        <div class="row">
          <tr>
              <td><time datetime="{{ page.date }}">{{ page.date | date(format="%B %e, %Y") }}</time></td>
              <td><a href="/{{ page.path }}">{{ page.title }}</a></td>
          </tr>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock main %}
