div.after-post {
  text-align: center;
  color: $med_text;
  font-size: 16px;

  div.previous_post, div.next_post {
    display: block;
  }
  
  div.tags, div.categories {
    @include grey-links(underline);
  }
}
