.hl {
  padding: 2px 0px 2px 2px;
  border-radius: 2px;
}

.hl-word {
  padding: 2px;
  margin-right: 6px;
}

.hl-left {
  border-radius: 2px 0px 0px 2px;
  padding-left: 2px;
}

.hl-middle {
  border-radius: 0px;
}

.hl-right {
  border-radius: 0px 2px 2px 0px;
  padding-right: 2px;
}

.hl-blue {
  background-color: rgba(129, 236, 236, 0.4);
}

.hl-purple {
  background-color: rgba(162, 155, 254, 0.4);
}

.hl-green {
  background-color: rgba(85, 239, 196, 0.4);
}

.hl-yellow {
  background-color: rgba(255, 234, 167, 0.4);
}

.hl-red {
  background-color: rgba(255, 118, 117, 0.4);
}

.hl-pink {
  background-color: rgba(253, 121, 168, 0.4);
}

.hl-orange {
  background-color: rgba(225, 112, 85, 0.4)
}

.hl-grey {
  background-color: rgba(99, 110, 114, 0.4);
}
