nav {
  div#nav-links {
    width: 100%;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 5px 1px;
      overflow: auto;

      li {
        @include grey-links(none);

        margin-right: 1em;
        list-style-type: none;
      }

      li.active {
        border-bottom: 1px $primary solid;
      }
    }
  }
}
