div#random-quote {
  padding-top: 5px;
  font-family: $serif-stack;

  h2 {
    font-weight: bold;
  }

  blockquote#random-quote-quote {
    margin-bottom: 3px;
    color: #444;

    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid #ccc;
  }

  #random-quote-citation {
    margin-left: 30px;
    #random-quote-source {
      font-style: italic;
    }
  }
}
