// Don't display by default.
aside#toc {
  display: none;
}

@media (min-width: 65rem) {
  aside#toc {
    display: block;
    width: 20rem;
    position: fixed;
    top: 4rem;
    margin-left: -22rem;
    font-size: 90%;
    line-height: 1.2;
    opacity: .5;
    transition: opacity .5s;
    overflow-y: scroll;
    max-height: 100%;

    h2 {
      font-size: 110%;
      margin-bottom: .2rem;
    }

    .coarse li ol {
      display: none;
    }

    ol {
      margin: 0 0 .1rem 0;
      padding: 0 0 0 1rem;
      list-style:none;
      padding-bottom: 10rem;

      li {
        font-size: 14px;
        margin: 0px;

        ol {
          padding-bottom: 0px;
        }

        &:before {
          content: "";
          border-color: transparent $code_text;
          border-style: solid;
          border-width: 0.35em 0 0.35em 0.45em;
          display: block;
          height: 0;
          width: 0;
          left: -1em;
          top: 0.9em;
          position: relative;
        }
      }
    }

    &:hover {
      opacity: 1;
    }
  }


  aside#recent-updates {
    position: absolute;
    max-width: 17rem;
    top: 4rem;
    margin-left: 45rem;
    margin-right: 2rem;
    font-size: 90%;

    h2 {
      font-size: 110%;
      margin-bottom: .2rem;
    }

    ul {
      margin: 0 0 .2rem 0;
      padding: 0 0 0 1rem;

      li {
        margin-top: .5rem;
      }
    }
  }
}

