{% extends "base.html" %}

{% block main %}
<article id="taxonomy" class="container post">
    <h2>{{ terms | length }} categories in total</h2>
    <ul class="alt columns">
        {% for category in terms %}
        <li><a href="{{ get_taxonomy_url(kind="categories", name=category.name) }}">{{ category.name }}</a> ({{ category.pages | length }})</li>
        {% endfor %}
    </ul>
</article>
{% endblock main %}
