{% extends "base.html" %}

{% block main %}
<article id="taxonomy" class="container post">
    <h2>Posts categorized under {{ term.name }}</h2>
    {% for page in term.pages %}
      <div class="row">
        <tr>
            <td><time datetime="{{ page.date }}">{{ page.date | date(format="%B %e, %Y") }}</time></td>
            <td><a href="/{{ page.path }}">{{ page.title }}</a></td>
        </tr>
      </div>
    {% endfor %}
</article>
{% endblock main %}
