{% import "macros.html" as macros %}

<!doctype html>
<html lang="en-us">
  <head>
      <title>{% block title %}{% endblock title %}</title>

      <meta charset="UTF-8">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="{% block summary %}{% endblock summary %}">
      <meta name="author" content="{{ config.extra.author.name }}">
      <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">

      <meta property="og:title" content="{% block ogtitle %}{% endblock ogtitle %}" />
      <meta property="og:author" content="Andrew Zah" />
      <meta property="og:description" content="{% block ogsummary %}{% endblock ogsummary %}" />
      <meta property="article:author" content="Andrew Zah" />
      <meta property="og:type" content="article" />
      <meta property="og:url" content="{% block permalink %}{% endblock permalink %}" />
      <meta property="og:image" content="https://andrewzah.com/og.jpg" />

      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@andrew_zah">
      <meta name="twitter:creator" content="@andrew_zah">
      <meta name="twitter:image" content="https://andrewzah.com/twitter-image.png">

      <meta name="google-site-verification" content="n5-uDhEF_Bwbyie5UOMQK1EdBy4iKsPQIGNJkSVlNU4" />

      <link rel="stylesheet" href="/main.css">
      <link rel="icon" href="favicon.ico" type="image/x-icon" />
      <script async src="/js/bundle.js"></script>
      {% block head %}{% endblock head %}
  </head>

  <script src="//instant.page/1.1.0" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>
  <body>
    <div class="container content">
      {% if section.extra.nonav %}
      {% else %}
        {{ macros::render_nav(current_path=current_path) }}
      {% endif %}

      <main>{% block main %}{% endblock main %}</main>
    </div>

    <div class="after-content">
      <div class="container">
        <div>{% block after_main %}{% endblock after_main %}</div>
      </div>
    </div>
  </body>
</html>
