{% extends "base.html" %}

{% block title %} AZ {% endblock title %}
{% block ogtitle %} AZ {% endblock ogtitle %}
{% block summary %} Summary {% endblock summary %}
{% block ogsummary %} Summary {% endblock summary %}
{% block keywords %} Summary {% endblock keywords %}

{% block head %}
<link rel="dns-prefetch" href="/posts">
{% endblock head %}

{% block main %}
  <div id="landing">
    <div class="container" id="landing-content">
      <div class="row">
        <span>
          <h1 id="landing-name"> Andrew Zah </h1>
        </span>
      </div>
      <div class="row">
        <h4> Hi, I do stuff with computers. Take a look at my
          <a href="./projects">programming projects</a>, or my
          <a href="./posts">blog</a>.
        </h4>
      </div>
    </div>
  </div>
{% endblock main %}
