{% macro post_link(page) %}
  {% if page.draft %}
  {% else %}
    <h2 class="post-title">
      <a href="/posts/{{page.slug | safe}}/">
        {{ page.title }}
      </a>
    </h2>
    {% if page.extra.show_summary %}
      {{ page.extra.summary | safe }}
    {% endif %}
  {% endif %}
{% endmacro post_link %}

{% macro render_taxonomies(taxonomies) %}
  {{ macros::render_tags(tags=taxonomies.tags) }}
  {{ macros::render_categories(categories=taxonomies.categories) }}
{% endmacro render_taxonomies %}

{% macro render_tags(tags) %}
  <div class="tags">
    Tags: 
    {% for tag in tags %}
      {% if loop.last %}
        <a href="/tags/{{ tag | slugify }}/">{{ tag | title }}</a>
      {% else %}
        <a href="/tags/{{ tag | slugify }}/">{{ tag | title }}</a> | 
      {% endif %}
    {% endfor %}
  </div>
{% endmacro render_tags %}

{% macro render_categories(categories) %}
  <div class="categories">
    Categories: 
    {% for category in categories %}
      {% if loop.last %}
        <a href="/categories/{{ category | slugify }}/">{{ category | title }}</a>
      {% else %}
        <a href="/categories/{{ category | slugify }}/">{{ category | title }}</a> | 
      {% endif %}
    {% endfor %}
  </div>
{% endmacro render_categories %}

{% macro render_footnotes(footnotes) %}
  <div class="footnotes">
    <h3> Footnotes </h3>
    <ul>
      {% for footnote in footnotes %}
        <li>
          <span>
            <a 
              id="footnote-{{loop.index0}}"
              href="#footnote-cite-{{loop.index0}}"
            >
              [{{loop.index0}}] &#x21A9;
            </a>
            –
              {{ footnote }}
          </span>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro render_footnotes %}

{% macro render_citations(citations) %}
  <div class="citations">
    <h3> Citations </h3>
    <ul>
      {% for citation in citations %}
        <li>
          <span>
            <a 
              id="citation-{{loop.index0}}"
              href="#cite-{{loop.index0}}"
            >
              [{{loop.index0}}] &#x21A9;
            </a>
            –
            <a href="{{citation.1}}">
              {{citation.0}}
            </a>
          </span>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro render_citations %}

{% macro render_nav(current_path) %}
  <nav>
    <div id="nav-links">
      {% set path = current_path | truncate(length=5, end="") %}
      <ul>
        <li><a href="/">Home</a></li>
        <li {% if path == 'posts' %}class="active"{% endif %}><a href="/posts/">Posts</a></li>
        <li {% if path == 'proje' %}class="active"{% endif %}><a href="/projects/">Projects</a></li>
        <li {% if path == 'conta' %}class="active"{% endif %}><a href="/contact/">Contact</a></li>
        <li {% if path == 'quote' %}class="active"{% endif %}><a href="/quotes/">Quotes</a></li>
        <li><a href="/rss.xml">RSS</a></li>
      </ul>
    </div>
  </nav>
{% endmacro render_nav %}
