{% extends "base.html" %}

{% import "macros.html" as macros %}
{% block page %}{{ page }}{% endblock page %}
{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}
{% block ogtitle %}{{ page.title }} | {{ config.title }}{% endblock ogtitle %}
{% block twittertitle %}{{ page.title }} | {{ config.title }}{% endblock twittertitle %}
{% block summary %}{{ page.extra.summary | safe | striptags }}{% endblock summary %}
{% block ogsummary %}{{ page.extra.summary | safe | striptags }}{% endblock ogsummary %}
{% block keywords %}{{ page.extra.keywords }}{% endblock keywords %}
{% block permalink %}{{ page.permalink }}{% endblock permalink %}

{% block head %}
  {% if page.extra.mathjax %}
    <script async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
  {% endif %}
{% endblock head %}

{% block main %}
  <div itemtype="http://schema.org/Article" class="container page">
    <h1 itemprop="name">{{ page.title }}</h1>
    <time itemprop="datePublished" content="{{ page.date | date(format="%Y-%m-%d")}}" datetime="{{ page.date }}" class="page-date">
        {{ page.date | date(format="%b %d, %Y") }}
        {% if page.extra.updated %} <time itemprop="dateModified" content={{ page.extra.updated }}>(updated on {{ page.extra.updated }})</time> {% endif %}
    </time>
    <hr>
    <aside id="toc">
        <h2>Table of Contents</h2>
        <ol>
            {% for h2 in toc %}<li>
                <a href="#{{h2.title | safe | slugify | replace(from="amp-", to="")}}">{{ h2.title | safe }}</a>
                {% if h2.children %}<ol>
                    {% for h3 in h2.children %}<li>
                        <a href="#{{h3.title | safe | slugify | replace(from="amp-", to="")}}">{{ h3.title | safe }}</a>
                    </li>{% endfor %}
                </ol>{% endif %}
            </li>{% endfor %}
        </ol>
    </aside>
    <article itemprop="articleBody">
      {{ page.content | safe }}
      {% if page.extra.footnotes %}
        {{ macros::render_footnotes(footnotes=page.extra.footnotes) }}
      {% endif %}
      {% if page.extra.citations %}
        {{ macros::render_citations(citations=page.extra.citations) }}
      {% endif %}
    </article>
  </div>
{% endblock main %}

{% block after_main %}
  <div id="after-main" class="container">
    <div id="random-quote">
      <h2> Random quote </h2>
      <blockquote id="random-quote-quote"></blockquote>
      <p id="random-quote-citation">
        <span id="random-quote-author"></span>
        <span id="random-quote-source"></span>
      </p>
    </div>
    <hr>

    <div class="container after-post">
        {% if page.earlier %}
          <div id="previous_post">
            Previous: <i>
              <a class="prev" href="/posts/{{ page.earlier.slug | safe }}">{{ page.earlier.title }}</a>
            </i>
          </div>
        {% endif %}

        {% if page.later %}
          <div id="next_post">
            Next: <i>
              <a class="next" href="/posts/{{ page.later.slug | safe }}">{{ page.later.title }}</a>
            </i>
          </div>
        {% endif %}

        {% if page.taxonomies %}
          {{ macros::render_taxonomies(taxonomies=page.taxonomies) }}
        {% endif %}
    </div>

    <hr>
    </div>

    {% include "_footer.html" %}
    {% endblock after_main %}
