{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}
{% block ogtitle %}{{ page.title }} | {{ config.title }}{% endblock ogtitle %}

{% block main %}
  <div id="plain" class="container">
    <h1>{{ page.title }}</h1>
    {{ page.content | safe }}
  </div>
{% endblock main %}
