{% extends "base.html" %}

{% block page %}{{ page }}{% endblock page %}
{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}
{% block ogtitle %}{{ page.title }} | {{ config.title }}{% endblock ogtitle %}
{% block twittertitle %}{{ page.title }} | {{ config.title }}{% endblock twittertitle %}

{% block summary %} A collection of the projects Andrew's worked on over the years. {% endblock summary %}
{% block ogsummary %} A collection of the projects Andrew's worked on over the years. {% endblock ogsummary %}
{% block keywords %} andrew zah projects programming list {% endblock keywords %}
{% block permalink %} https://andrewzah.com/projects {% endblock permalink %}

{% block main %}
  <div itemtype="http://schema.org/Article" class="container projects">
    <h1 itemprop="name">{{ page.title }}</h1>
    <time itemprop="datePublished" content="{{ page.date | date(format="%Y-%m-%d")}}" datetime="{{ page.date }}" class="page-date">
        {{ page.date | date(format="%b %d, %Y") }}
    </time>
    <hr>
    <div>
      {{ page.content | safe }}
    </div>
  </div>
  {% include "_footer.html" %}
{% endblock main %}

{% block after_main %}
{% endblock after_main %}
