{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}

{% block main %}
  <div id="quotes-list" class="container">
    <h1>{{ page.title }}</h1>
    {{ page.content | safe }}
    <div id="quotes"></div>
  </div>
{% endblock main %}
