{% extends "base.html" %}

{% import "macros.html" as macros %}
{% block title %}{{ section.title }} | {{ config.title }}{% endblock title %}

{% block main %}
  <div class="container section">
    {% set section = get_section(path="posts/_index.md") %}
    <h2 id="section-title"><a href="{{section.permalink}}">{{ section.title }}</a></h2>

    {% block introduction %}{% endblock introduction %}

    <div class="posts neutral">
        {% for page in section.pages %}
          <div class="section-post page">
            {{ macros::post_link(page=page) }}
          </div>
        {% endfor %}
    </div>
  </div>
{% endblock main %}
